<div class="chirp">
	<%= content_tag :h3, chirp.body %>
	<p>by <%= link_to chirp.user.username, profile_user_path(chirp.user.username) %> <%= link_to(time_ago_in_words(chirp.created_at), chirp) %> ago
	</p>
</div>